@import url('https://fonts.googleapis.com/css?family=Lato');
.protograph-card{
  position:relative;
  overflow: hidden;
  letter-spacing: normal;
  box-sizing: border-box;
}
/* #protograph_div{
  border-bottom: 1px solid #DDD;
  margin: auto;
} */
#protograph_div.protograph-laptop-mode {
  width: auto;
}
#protograph_div.protograph-mobile-mode {
  width: 320px;
}
.protograph-read-more{
  width: 100px;
  border-radius: 5px;
  padding: 8px 0px;
  font-size: 12px;
  background: #fafafa !important;
  margin-top: 15px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.protograph-toQuestion-description {
  max-height: 100px;
}
.protograph-toQuestion-description-container {
  border-top: 1px solid #f1f1f1;
}
.protograph-toQuestion-description-container, .protograph-toQuestion-question-container {
  padding: 10px 20px;
}
.protograph-toQuestion-score {
  font-size: 36px;
}
.protograph-toQuestion-total, .protograph-toQuestion-slash {
  font-size: 24px;
}
.protograph-toQuestion-slash {
  color: #f1f1f1;
  padding: 0px 3px;
}